

.campagneExample__button {
        color: var(--color-grey-dark-2);
        font-weight: 900;
        border: none;
        cursor: pointer;
        border-bottom: 1px solid var(--color-grey-dark-2);
        padding: 3px;
        font-size: 1.2rem;
        transition: all .2s;
        background-color: none;
}

.campagneExample__button:hover {
    color: var(--color-grey-dark-1);
        border-bottom: 1px solid var(--color-grey-dark-1);;
}


/* .btn-text{
     &:link,
     &:visited{
       
     }
     &:hover{
       background-color: $color-primary;
       color: $color-white;
       box-shadow: 0 1rem 2rem rgba($color-black, .15);
       transform: translate(-2px);

     }
     &:active{
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translate(0);
     }
} */

