
.DashboardCreatePage {
    width: 75rem;
    min-height: 100vh;
    margin: 8rem auto;
   

}



 @media only screen and (max-width:1000px){
.DashboardCreatePage {
    width: 98%;
    margin: 8rem auto 0rem auto;
} 
 }