


.Faq {
    /* position: absolute;
    top: 0rem;
    left: 10%;
    width: 50%; */
    
}


.Faq__mailBox  {
    text-align: center;
    margin-top: 5rem;
}
.Faq__mail {
    color: #1e2935;
    /* border-bottom: solid 2px #1e2935; */
     font-weight: 900;
   margin-bottom:  6rem;
   padding: 2rem;
}

.Faq__mail:hover {
    color: #1e2935;
}
