
.overlay {
   background-color: rgba(black,.5);
   z-index: 10000000000000000000;
}
.ReactModal__Overlay {
    opacity: 0;
     
    transition: .2s ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.ModalSignup {
   position: fixed;
   left: 50%;
   top: 40%;
   transform: translate(-50%,-50%);
   background-color: white;
   border-radius:  10px;
   padding: 2rem 1rem ;
   width: 34rem;
   /* height: 40rem; */
   background-color: white;
   margin: 2rem;
   position: relative;
   

}
.ModalSignup__close {
    cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.ModalSignup__header  {
   border-bottom: solid 3px #55E6C1;
   padding-bottom: .5rem;
}
.ModalSignup__title {
  font-size: 1.8rem;
  line-height: 0px;
  font-weight: 900;
  color: rgb(156, 155, 155);
  text-transform: uppercase;
}

.ModalSignup__subTitle {
font-size: 1.2rem
}
.ModalSignup__logIn {
    color: #55E6C1;
    transition: all .2s;
}
.ModalSignup__logIn:hover {
    color: rgb(55, 218, 177);
}
.ModalSignup__inputBox {
    display: flex;
    flex-direction: column;
    margin: .6rem 0;
}
.ModalSignup__inputs {
      display: flex;  
      justify-content: space-between;
}
.ModalSignup__inputs .ModalSignup__inputBox {
     width: 49%;
   
}

.ModalSignup__label {
    font-size: 1.1rem;
    text-transform: uppercase;
     color: rgb(156, 155, 155);
}


.ModalSignup__button {
 display: inline-block;
 width: 100%;
 border: none;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #55E6C1;
     color: white;
    border-radius: 10px;
    padding: .8rem 3rem;
    cursor: pointer;
    transition: all .2s;
    white-space: nowrap;
    margin: 0 auto;
    transition: all .3s;
     /* box-shadow: 0.643px 0.766px 0px 0px rgba(12,34,66,0.09),10.285px 12.257px 38px 0px rgba(12,34,66,0.13); */
    text-transform: uppercase;
    font-weight: 400;

}

.ModalSignup__button:hover {
     background-color: rgb(135, 235, 211);
     color: white;
}



  
  @media only screen and (max-width: 1000px){

   
   .ModalSignup {
    position: fixed;
   left: 0%;
   top: 0%;
   transform: translate(0%,0%);
   
  margin: 0rem;
   width: 100%;
   height: 100%;

}


  }

  