

.Mission {
    padding: 2rem 2rem 0rem 2rem;
    width: 100rem;
    margin: 3rem auto;
    line-height: 3rem;
    text-align: center;

}

.Mission h3 {
    width: 80%;
       font-size: 3rem;
           margin: 0 auto;
           color: #a1c4fd;
      transition: all .2s;
      color: var(--color-primary);
}

/* .Mission h3:hover {
     transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(black,.2);
} */

@media only screen and (max-width: 1400px){ 
    
.Mission {
    width: 100vw;
}
}

@media only screen and (max-width: 800px){ 
    
.Mission h3 {
    font-size: 2rem;
}

.Mission {
    padding: 1rem 1rem 0rem 1rem;
}
}
