

.SideBar__icon {
    display: none;
    color: black;
    
}

.SideBar__logoBox {
   border-bottom: solid 1px white;
  padding: 1rem 3rem;
  text-align: center;
   font-family: 'Monoton', cursive; 
   color: white; 

}
.SideBar__logo {
  color: white;
}

.SideBar__link {
    color: var(--color-grey-dark-3);
     padding: .1rem 3rem;
}
.SideBar__link:hover {
    color: var(--color-grey-dark-2);
}
.SideBar__link-getStarted {
    font-size: 1rem;
    color: white;
    background: var(--color-primary);
    border-radius: 20px;
    padding: .7rem 3rem;
    margin:  0 5px;
     font-weight: 900;
     box-shadow: 0.3px 0.3px 0px 0px rgba(12,34,66,0.09),5px 3px 24px 0px rgba(12,34,66,0.13);
     transition: all .2s;
}
.SideBar__link-getStarted:hover {
    color: white;
    background: var(--color-primary--light);
}



.SideBar__logo:hover {
  color: white;
}



.SideBar__close {
   position: absolute;
top: 20px;
right: 20px;
cursor: pointer;
color: var(--color-grey-dark-3);
font-size: 2rem;
}


@media only screen and (max-width: 900px){
    .SideBar__icon {
    display: block;
    cursor: pointer;
    width: 30px;
   
}

.SideBar__icon div {
     height: 3.5px;
    background-color: var(--color-grey-dark-3);
    margin: 2.5px 0;
    border-radius: 24px;
    transition: .3s;
}
.one {
    width: 30px;
}
.two {
    width: 15px;
}

.three {
    width: 25px;
}

}












/* Modal */

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 100000000;
}



.SideBar__modal{
      position: absolute;
    top: 0;
    right: 0;
    width: 21rem;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    font-size: 2rem;
  
    background-color: var(--color-grey-light-1);
    border-radius: 1px;
     background-color:white;
     font-weight: 300;
    /* clip-path: polygon(35% 0,100% 0, 100% 100%, 0 100%); */
    padding-top: 4rem;
}

.SideBar__modal div > *  {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    /* text-align: end; */
    align-items: flex-start;
}



@media only screen and (max-width: 360px){
    .SideBar__modal div > *{
        font-size: 1.4rem;
    }
}


.ReactModal__Overlay {
    opacity: 0;
    
    transition: all .5s ease-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
    
}

.ReactModal__Overlay--before-close{
    opacity: 0;
    
}