

.DashboardNavigation{
     position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #444;
    height: 4rem;
    padding: 2rem 3rem 2rem 2rem;
    width: 100%;
    font-size: 1rem;
    z-index: 100;


}

.DashboardNavigation__logoBox{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
     font-size: 1.3rem;
      letter-spacing: 3px;
    font-family: 'Allerta Stencil', sans-serif;   
}

.DashboardNavigation__logo{
    width: 1.5rem;
    margin-right: 1rem;
  
}


.DashboardNavigation nav > *:not(:last-child) {
      margin-right: 1.2rem;
}

.DashboardNavigation__link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: white ;
     font-weight: 800;
     position: relative;

     
}
.DashboardNavigation__link:hover {
   color: white
} 

