

 .DashboardHomePage {
    width: 75rem;
    margin: 8rem auto;
    padding: .5rem;
   
} 

 @media only screen and (max-width:1000px){
.DashboardHomePage {
    width: 98%;
    margin: 8rem auto 2rem auto;
} 
 }