

.Part1 {
    font-size: 1.5rem;
    padding: 4rem;
    margin: 2rem 0;
}

.Part__title{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
    /* color: #a1c4fd; */
    color: #2C3A47;
    font-weight: 300;

}


.Part1__box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Part1__text {
    width: 50%;
}
.Part1__icon {
    color: #1e2935;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.Part1__img {
    width: 15%;
    box-shadow: 0.643px 0.766px 0px 0px rgba(12,34,66,0.09),10.285px 12.257px 38px 0px rgba(12,34,66,0.13);
    border-radius: 10px;
}


@media only screen and (max-width: 900px){
   .Part__title{
    font-size: 1.8rem;
}

  .Part1__box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Part1__text {
    width: 100%;
    text-align: center;
}
.Part1__img {
    width: 35%;
    margin-bottom: 5rem;
}
}


@media only screen and (max-width: 600px){
   .Part__title{
    font-size: 1.3rem;
}



.Part1 {
    font-size: 1.2rem;
    padding: 2rem;
    margin: 4rem 0;
}

.Part1__img {
    width: 40%;
    margin-bottom: 2rem;
}
}

@media only screen and (max-width: 500px){
 .Part1__img {
     width: 70%;
     margin-bottom: 2rem;
 }
 }
